

.board {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 130px auto;
}
.block {
    width: 70px;
    height: 70px;
    float: left;
    background-color: black;
}
.black {
    background: #000;
}
.white {
    background: #fff;
}